daphne
django
djangorestframework
djangorestframework-simplejwt
channels
channels_redis
celery
redis
pytest
pytest-django
requests
requests-mock
Pillow
pycaw; sys_platform == 'win32'
comtypes; sys_platform == 'win32'
psutil
pyperclip
pyautogui; sys_platform == 'win32'
dj-database-url
python-dotenv
psycopg2-binary
pydantic
